:root {
  --yellow: #ffc600;
  --black: #272727;
  --white: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;  
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 30px 30px 0 30px;
}

.container img {
  border-radius: 50px;
}

.cover {
  position: absolute;
  top: 3px;
  left: 80px;
}

.top-row {
  /* border: solid red;   */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1450px;
}

.top-row h2{    
  margin-top: 60px;
  color: var(--white);
}

.top-row input{
  color: var(--black);
  height: 40px;
  width: 400px;
  margin: 60px 0 0 250px;
  background-color: rgba(175, 175, 175, 0.418);
  border: none;
  border-radius: 7px;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.top-row img{
  /* border: solid blue;       */
}

.promotions p {
  position: relative;
  bottom: 340px;
  font-size: 55px;
  font-weight: bold;
  color: var(--white);
}

.store-icons {
  display: flex;
  position: relative;
  bottom: 300px;
  font-size: 25px;
  color: var(--white);
}

.store-icons p{
  margin-left: 100px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgba(175, 175, 175, 0.418);
}

.logs {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  /* border: solid green; */
  height: 500px;
}

.logs pre {
  margin-top: 60px;
  color: var(--white);
  transform: rotate(-90deg);
}